
  body {
    background-color: #333333;
  }

  h2 {
  color: rgb(102, 189, 221);
  font-weight: bold;
  font-size: 40px;
}
.panel .panel-body {
   background-color:#333333;
}
 .media{
    border-bottom: 1px dotted #ccc;
}